@import url("colors/dracula.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    Ubuntu Mono,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(30, 31, 41, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.2s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @foreground;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(0deg, @selection, @background-darker);
}

#workspaces button.active {
  box-shadow: inset 0 -3px #ffffff;
  color: @selection;
  /* background: rgba(189, 147, 249, 0.4); */
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.empty {
  color: @comment;
}

#workspaces button.visible {
  color: @pink;
}

#mode {
  color: @foreground;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-theme,
#mpd {
  padding: 0 10px;
  color: @foreground;
}

#window,
#workspaces {
  margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: @foreground;
}

#battery {
  color: @foreground;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @selection;
    color: @foreground;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.balanced {
  color: @purple;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: @green;
}

#memory {
  color: @purple;
}

#disk {
  color: @orange;
}

#backlight {
  color: @foreground;
}

#network {
  color: @cyan;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio.muted {
  color: @red;
}

#wireplumber {
  color: @yellow;
}

#wireplumber.muted {
  color: @red;
}

#custom-media {
  color: @foreground;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: @green;
}

#custom-media.custom-vlc {
  color: @orange;
}

#temperature {
  color: @orange;
}

#temperature.critical {
  color: @red;
}

#tray {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
  color: #2d3436;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#custom-theme.light {
  color: @yellow;
}

#custom-theme.dark {
  color: @purple;
}

#tags button {
	color: #343A40;
	padding: 0 3px;
	
}

#tags button.occupied {
	color: #bbbbbb;
	
}

#tags button.focused {
	color: #9EE9EA;
}

#tags button.urgent {
	color: #E49186;
}
